body {
    margin: 0;
}

:root::-webkit-scrollbar {
    width: 0;
    display: none;
}

.CodeMirror-sizer {
    margin-bottom: 64px !important;
}

.muya-host,
.mu-editor {
    width: 100%;
    min-width: 320px;
    writing-mode: horizontal-tb;
}

.mu-editor {
    scrollbar-width: thin;
    overflow-x: auto;
}

.mu-editor::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
}

.cm-search-highlight {
    background: var(--theme-color-40);
    color: var(--editor-color);
}

.cm-search-selection {
    background: var(--selection-color);
}