html,
body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

#root {
    max-width: 100%;
    overflow-x: hidden;
}

:root::-webkit-scrollbar {
    width: 0;
    display: none;
}

.CodeMirror-sizer {
    margin-bottom: 64px !important;
}
